extends layout

block content
    div(ng-app="meridianApp", ng-controller="GridController as controller")
        div(ui-grid="gridOptions")
        div
            {{connected}}
            input(ng-model="message")
            button(ng-click="controller.sendMessage()") Send Message