doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/components/angular-ui-grid/ui-grid.min.css')
    block js
      script(src="/components/angular/angular.min.js")
      script(src="/components/angular-ui-grid/ui-grid.min.js")
      script(src="/components/sockjs-client/dist/sockjs.min.js")
      script(src="/js/meridianApp.js")
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
