body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, button {
    margin: 3px;
    padding: 3px;
    font-size:1.2em;
}

.connected, .disconnected {
    padding: 5px;
    margin: 10px;
    width: 350px;
}

.connected {
    border: solid 1px #000;
}

.disconnected {
    border: solid 3px #f00;
}